@import '~@angular/material/core/theming/all-theme';

// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

$primary: md-palette($md-teal);
$accent:  md-palette($md-cyan);

// The warn palette is optional (defaults to red).
$warn:    md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: md-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);


$highlight: md-color($primary, darker);
$contrast: md-color($primary, darker-contrast);


// Material Design customizations
md-dialog-container {
  padding: 0 !important;
  overflow: visible;

  focus-trap > div > * > md-card {
    padding: 0 !important;
    md-card-content {
      padding: 16px;
    }
  }

  md-toolbar-row .flex-vcenter {
    width: 100%;
    box-sizing: border-box;
  }
}


md-card-title, md-card-content {
  color: #333;
}
