<md-grid-list card-no-pad card-fill rowHeight="fit" cols="4" gutterSize="8px">
	<md-grid-tile colspan="1" rowspan="4">
		<md-card id="info-card">
			<div class="content-wrapper">
				<div class="card-header">
					<span *ngIf="isDemo"></span>
					<span *ngIf="!isDemo"
							class="challenge-selector" (click)="navigateTo('toRight')"
							[class.disabled]="collectionIndex === 0">
						<md-icon>chevron_left</md-icon>
					</span>

					<span id="title-container" class="active">
						<template [ngIf]="auth.user.settings.effects">
							<template ngFor let-name [ngForOf]="[challenge.name]">
								<div [@challengeSwitch]="switchDirection">
									{{ name }}
								</div>
							</template>
						</template>
						<template [ngIf]="!(auth.user.settings.effects)">
							<div>
								{{ name }}
							</div>
						</template>

					</span>

					<span *ngIf="isDemo"></span>
					<span *ngIf="!isDemo"
						class="challenge-selector" (click)="navigateTo('toLeft')"
						[class.disabled]="collectionIndex === (collectionIds.length - 1)"
					>
						<md-icon>chevron_right</md-icon>
					</span>
				</div>

				<div id="challenge-help" *ngIf="!isDemo" class="card-header-actions card-header-actions-right">
					<span id="hints-button"
							[class.active]="hintsEnabled"
							(click)="onHintToggle()"
							title="{{ hintsEnabled ? 'Disable' : 'Enable' }} hint messages"
					>
						<md-icon small>lightbulb_outline</md-icon>
						HINTS
					</span>

					<span id="help-button" [routerLink]="['../', 'tutorial']">
							<md-icon small>school</md-icon>
							TUTORIAL
					</span>
				</div>

				<md-card-content class="card-content-with-header-and-actions" scroll-y>
					<div id="attempts">
						<span *ngIf="commitedAttempts === 0">
							No attempts made yet...
						</span>
						<span *ngIf="commitedAttempts > 0">
							<md-icon [class.one-bump]="attempts.length === commitedAttempts">not_interested</md-icon>
							<b [class.one-bumpy]="attempts.length === commitedAttempts">
								{{ commitedAttempts }} attempt{{ commitedAttempts > 1 ? 's' : ''}} made
							</b>
						</span>
					</div>

					<div id="hint-card" [class.visible]="hintsEnabled && !hintDismissed">
						<md-icon id="hint-close" (click)="clearHints()">close</md-icon>
						<b id="hint-title">
							<md-icon *ngIf="!isDemo">lightbulb_outline</md-icon>
							<md-icon *ngIf="!isDemo">school</md-icon>
							<span [innerHTML]="currentHint && currentHint.title"></span>
						</b>
						<p [innerHTML]="currentHint && currentHint.message"></p>
					</div>
				</md-card-content>
			</div>
		</md-card>
	</md-grid-tile>

	<md-grid-tile colspan="3" rowspan="4">
		<gt-graphs
				[mode]="challenge.mode" [goal]="goalMotion"
				(change)="onGraphPanelChange($event)"
		></gt-graphs>
	</md-grid-tile>

	<md-grid-tile colspan="4" rowspan="3">
		<gt-track-panel
				[mode]="goalMotion.mode"
				(roll)="onRollBall($event)" (change)="onTrackPanelChange($event)"></gt-track-panel>
	</md-grid-tile>
</md-grid-list>
