@import '~app/app.theme.scss';

$color-s: orangered;
$color-v: forestgreen;
$color-a: steelblue;

$color-s-light: lighten($color-s, 25);
$color-v-light: lighten($color-v, 25);

$ball-margin:20px;
$radius: 4px;
$info-radius: 10px;
$info-value-width: 80px;
$slider-font-size: 16px;

$scale-height: 38px;
$track-height: calc(100% - (#{$scale-height} * 2) - 8px);

#panel-wrapper, #tapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

#panel-wrapper {
  & > * {
    height: 100%;
  }

  #track-labels {
    display: inline-block;
    width: 120px;

    #roll-ball-wrapper {
      height: $track-height;
      position: relative;
      #ball-roller {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 5%;
        width: 90%;
        background: crimson;
        padding: 4px;
        border-radius: 3px;
        font-weight: bold;
        text-align: center;
        color: white;
        text-shadow: 0 0 .1em gray;
        cursor: pointer;
        box-sizing: border-box;
        &:hover {
          background: red;
        }
      }
    }

    #scale-labels {
      & > span {
        display: block;
        color: white;
        text-shadow: 0 0 .1em gray;
        font-weight: 500;
        white-space: nowrap;
        height: 38px;
        line-height: 38px;
        padding: 0 8px;
      }

      #position-slider-info {
        background: $color-s;
      }

      #velocity-slider-info {
        background: $color-v;
      }
    }
  }

  #track-content {
    display: inline-block;
    width: calc(100% - 120px);
    top: 0;
    right: 0;
    position: absolute;

    gt-track {
      width: calc(100% + 32px);
      margin-left: -16px;
      height: $track-height;
    }
  }
}

#tapper {
  background: #F8FFED;
}

gt-scale {
  &.pulsing-scale /deep/ #slider {
    animation: pulse 600ms linear infinite;
  }
}
