<md-card [class.fullscreen]="zoomActive">
	<div id="tapper" [class.wait]="rolling"></div>
	<div id="panel-wrapper" [class.no-interaction]="rolling">
		<div id="track-labels">
			<div id="roll-ball-wrapper">
				<span id="ball-roller" class="slider-info"
				      [class.pulsing-alt]="requestingSelectionOf === 'b'"
				      (click)="rollBall()">
				ROLL BALL
			</span>
			</div>
			<div id="scale-labels">
				<span id="position-slider-info" class="slider-info">
					<span class="slider-info-label"><span class="hidden-small">Initial </span>Position</span>
				</span>
				<span id="velocity-slider-info" class="slider-info">
					<span class="slider-info-label"><span class="hidden-small">Initial </span>Velocity</span>
				</span>
			</div>
		</div>

		<div id="track-content">
			<gt-track
							(ballChange)="onTrackBallChange($event)"
							(change)="onTrackChange($event)"
							[mode]="mode" [postsSetup]="setup.posts" [position]="setup.position"
			></gt-track>
			<gt-scale id="position-scale"
			          [class.pulsing-scale]="requestingSelectionOf === 's'"
			          [color]="colors.position" [domain]="mode.domain.position" [value]="setup.position"
			          (slided)="!rollingSingle && track.updateBallPostion($event)" (change)="positionSetter($event)"
			></gt-scale>
			<gt-scale id="velocity-scale"
			          [class.pulsing-scale]="requestingSelectionOf === 'v'"
			          [color]="colors.velocity" [domain]="mode.domain.velocity" [value]="setup.velocity"
			          (change)="velocitySetter($event)"
			></gt-scale>
		</div>
	</div>
</md-card>
