@import '~app/app.theme.scss';

$color-s: orangered;
$color-v: forestgreen;
$color-a: steelblue;

$color-s-light: lighten($color-s, 25);
$color-v-light: lighten($color-v, 25);

$ball-margin:20px;
$radius: 4px;
$info-radius: 10px;
$info-value-width: 80px;
$slider-font-size: 16px;

$track-controls-height: 110px;
$track-height: calc(100% - #{$track-controls-height});
$slider-line-height: $track-controls-height / 3;

#panel-wrapper, #tapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#tapper {
  background: papayawhip;
}

#panel-wrapper {
  pointer-events: none !important;
}

#track {
  width: 100%;
  height: $track-height;
  margin-bottom: 0 !important;
  max-height: 300px;
  bottom: $track-controls-height;
  position: absolute;

  #panel-wrapper:not(.no-interaction) & /deep/ {
    circle, path, rect {
      pointer-events: all;
    }

    .track-line {
      pointer-events: stroke !important;
    }
  }
}

#track-controls {
  height: $track-controls-height;
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: 0;

  #panel-wrapper:not(.no-interaction) & /deep/ * {
    pointer-events: all !important;
  }

  gt-scale {
    margin: 0 #{$ball-margin - 5};
    overflow: hidden;

    &#position-scale {
      border-radius: $radius $radius 0 0;
    }

    &#velocity-scale {
      border-radius: 0 0 $radius $radius;
    }

    &.pulsing-scale /deep/ #slider {
      @if $effects-enabled {
        animation: pulse 1s linear infinite;
      } @else {
        animation: pulse 2s steps(2) infinite;
      }
    }
  }

  $h: 20px;
  $r: $h / 2;
  $mpad: 2px;
  $bpad: 15px;
  #slider-info-container {
    background: linear-gradient(to right, $color-s, $color-s 49.9%, $color-v 50%, $color-v);
    margin: 0 #{$ball-margin - 5};
    height: $h;
    display: flex;
    white-space: nowrap;

    .slider-info {
      flex:2 0 0px;
      height: $h;
      line-height: $h - 1;
      font-weight: bold;

      .slider-info-value {
        display: inline-block;
        min-width: 80px;
        box-sizing: border-box;
        position: relative;
        text-align: center;
        color: #333;

        &:before, &:after {
          content: ' ';
          display: inline-block;
          position: absolute;
          width: 0;
          height: 0;
        }
      }

      .slider-info-label {
        color: white;
        text-shadow: 0 0 .1em gray;
      }
    }

    #ball-roller {
      background: crimson;
      flex:1 0 0;
      padding: 0 $h;
      text-align: center;
      color: white;
      text-shadow: 0 0 .1em gray;
      cursor: pointer;
      &:hover {
        background: red;
      }
    }

    #position-slider-info {
      text-align: right;
      .slider-info-value {
        background: $color-s-light;
        padding: 0 $mpad 0 $h;

        &:after {
          border-top: $h solid $color-s-light;
          border-right: $h solid transparent;
          margin-left: $mpad;
          right: $h * -1;
        }

        &:before {
          border-top: $h solid $color-s;
          border-right: $h solid transparent;
          left: 0;
        }
      }
    }

    #velocity-slider-info {
      .slider-info-value {
        background: $color-v-light;
        padding: 0 $h 0 $mpad;

        &:before {
          border-bottom: $h solid $color-v-light;
          border-left: $h solid transparent;
          left: $h * -1;
        }

        &:after {
          border-bottom: $h solid $color-v;
          border-left: $h solid transparent;
          right: 0;
        }
      }
    }
  }
}
