<md-grid-list card-no-pad card-fill rowHeight="fit" cols="4" gutterSize="8px">
	<md-grid-tile colspan="1" rowspan="4">
		<md-card id="info-card">
			<div class="content-wrapper">
				<div class="card-header">
					<span></span>
					<span id="title-container" class="active">
						<div>
							{{ challenge.name }}
						</div>
					</span>
					<span></span>
				</div>
				
				<md-card-content class="card-content-with-header">
					<md-input id="challenge-name" maxlength="16" placeholder="Challenge Name" [(ngModel)]="name"></md-input>
					<br><br>

					<md-radio-group id="challenge-difficulty" [(ngModel)]="difficulty" [selected]="defaultOption">
						<md-radio-button [value]="0">
							<gt-challenge-difficulty
											[level]="0"
											[full]="true"
							></gt-challenge-difficulty>
						</md-radio-button>
						<md-radio-button [value]="1" #defaultOption>
							<gt-challenge-difficulty
											[level]="1"
											[full]="true"
							></gt-challenge-difficulty>
						</md-radio-button>
						<md-radio-button [value]="2">
							<gt-challenge-difficulty
											[level]="2"
											[full]="true"
							></gt-challenge-difficulty>
						</md-radio-button>
					</md-radio-group>

					<br><br>

					<button id="button-save" md-button md-raised-button color="primary" [disabled]="!canSave()" (click)="save()">
						SAVE
					</button>
				</md-card-content>
			</div>
		</md-card>
	</md-grid-tile>
	
	<md-grid-tile colspan="3" rowspan="4">
		<gt-graphs-panel
				[mode]="challenge.mode" [goal]="goalMotion"
				(change)="onGraphPanelChange($event)"
		></gt-graphs-panel>
	</md-grid-tile>
	
	<md-grid-tile colspan="4" rowspan="3">
		<gt-track-panel
				[mode]="goalMotion.mode"
				(abort)="onAbort()" (roll)="onRollBall($event)" (change)="onTrackPanelChange($event)"
		></gt-track-panel>
	</md-grid-tile>
</md-grid-list>
