$color-s: lighten(orangered, 10);
$color-v: lighten(forestgreen, 10);
$color-a: lighten(steelblue, 10);

md-card-content {
  position: relative;

}

#info-card {
  md-card-content {
    padding: 16px;
  }
}

#button-save {
  &, & /deep/ * {
    cursor: pointer !important;
  }

  margin: 0 auto;
  display: block;
}

#challenge-name {
  width: 100%;
}

#challenge-difficulty {
  display: flex;
  & > * {
    flex: 1 1 auto;
    text-align: center;
  }

  & > *:hover /deep/ * {
    cursor: pointer;
  }
}

.card-header {
  #title-container {
    background: transparent;
    position: relative;

    & > div {
      background: #009688 !important;
      color: white;
      position: absolute;
      transform-origin: 50% 50%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .challenge-selector {
    &, md-icon {
      cursor: pointer !important;
    }

    will-change: background;
    transition: background 100ms linear;

    &:hover {
      background: #DDD;
    }

    &.disabled {
      opacity: .3;
      pointer-events: none;
    }
  }
}

#challenge-title {
  font-weight: 600;
  font-size: 18px;
}

.card-header-actions {
  span {
    padding: 0 5px;
  }

  md-icon {
    vertical-align: middle;
    width: auto;
    margin-bottom: -3px;
  }
}

#challenge-help .action:hover {
  opacity: .6 !important;
}

#button-details:hover, #button-details.active {
  background: lighten(#009688, 50);
  color: #009688;
}

#button-hints:hover, #button-hints.active {
  color: darkorange;
  background: papayawhip;
}

#button-tutorial:hover, #button-tutorial.active {
  background: #CEF;
  color: dodgerblue;
}

#challenge-stats {
  font-size: 18px;
  line-height: 18px;
  padding: 16px;

  color: salmon;
  &.complete {
    color: seagreen;
  }

  md-icon {
    transform-origin: 50% 50%;
    transform: scale(1);
    vertical-align: middle;
    margin-top: -3px;
  }

  small {
    transform-origin: 50% 50%;
    transform: scale(1);
    display: inline-block;
    padding-left: 28px;
  }
}

#challenge-details {
  background: lighten(#009688, 50);
  color: #009688;
  padding: 8px;
  display: flex;

  & > * {
    flex: 1 1 auto;
    line-height: 20px;
  }

  gt-challenge-difficulty {
    flex: 0 1 auto;
  }
}

#message-box {
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 16px;
  box-sizing: border-box;

  transform: scale(.6);
  will-change: transform;
  transform-origin: center bottom;

  &:not(.invisible) {
    transform: scale(1);
    visibility: visible;
    transition: transform 150ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }

  #message-close {
    float: right;
    margin-top: -4px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    padding: 4px;
    text-align: center;
    &:hover {
      background: rgba(0, 0, 0, .2);
    }
  }

  #message-title {
    display: inline-block;
    line-height: 24px;

    md-icon {
      vertical-align: top;
    }

    span {
      font-size: 18px;
    }
  }

  p {
    color: #333;
    font-size: 16px;

    /deep/ span {
      white-space: nowrap;
    }

    /deep/ {
      b.s { color: $color-s; }
      b.v { color: $color-v; }
      b.a { color: $color-a; }
      b.b { color: crimson; }
    }
  }
}

.setup-info {
  font-size: 80%;

  span {
    background: #AAA;
    border-radius: 3px;
    color: white;
    padding: 2px 4px;
    margin-right: 15px;
  }
}

#message-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  height: auto;
  left: 0;
  padding: 16px;

  .link {
    padding: 8px;
    cursor: pointer !important;
    margin-right: 8px;
  }

  .button {
    padding: 8px;
    font-weight: bold;
    border-radius: 3px;
  }

  .button, .button * {
    cursor: pointer !important;
  }

  .link {
    margin-right: 8px;
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
  }

  .button {
    background: white;
    animation: 1s pulse linear infinite;

    md-icon {
      width: auto;
      display: inline-block;
      height: auto;
      padding: 0;
      vertical-align: middle;
      margin: -5px;
    }
  }

  .disabled {
    animation: none !important;
    background: #CCC !important;
    color: #999 !important;
    pointer-events: none;
  }
}

.hint {
  background: papayawhip;
  #message-title, & .button, & .link { color: darkorange; }
  #message-actions, #message-close { background: lighten(darkorange, 40); }
}

.tutorial {
  background: #CEF;
  #message-title, & .button, & .link { color: dodgerblue; }
  #message-actions, #message-close { background: lighten(dodgerblue, 40); }
}

.success {
  background: #CFE;
  #message-title, & .button, & .link { color: darkgreen; }
  #message-actions, #message-close { background: #AEA; }
}

.disabled {
  opacity: .4;
  pointer-events: none !important;
}
