<md-grid-list card-no-pad card-fill rowHeight="fit" cols="4" gutterSize="8px">
	<md-grid-tile colspan="1" rowspan="4">
		<md-card id="info-card">
			<div class="content-wrapper">
				<div class="card-header">
					<span class="challenge-selector" (click)="navigateTo('toRight')"
					      [class.disabled]="collectionIndex === 0"
					>
						<md-icon>chevron_left</md-icon>
					</span>
					<span id="title-container" class="active">
						<template [ngIf]="auth.user.settings.effects">
							<template ngFor let-name [ngForOf]="[challenge.name]">
								<div [@challengeSwitch]="switchDirection">
									{{ name }}
								</div>
							</template>
						</template>
						<template [ngIf]="!(auth.user.settings.effects)">
							<div>
								{{ name }}
							</div>
						</template>
					</span>
					<span
							class="challenge-selector" (click)="navigateTo('toLeft')"
							[class.disabled]="collectionIndex === (collectionIds.length - 1)"
					>
						<md-icon>chevron_right</md-icon>
					</span>
				</div>
				
				<md-card-content class="card-content-with-header-and-actions" scroll-y>
				</md-card-content>
			</div>
		</md-card>
	</md-grid-tile>
	
	<md-grid-tile colspan="3" rowspan="4">
		<gt-graphs-panel
				[mode]="challenge.mode" [goal]="goalMotion"
				(change)="onGraphPanelChange($event)"
		></gt-graphs-panel>
	</md-grid-tile>
	
	<md-grid-tile colspan="4" rowspan="3">
		<gt-track-panel
				[mode]="goalMotion.mode"
				(abort)="onAbort()" (roll)="onRollBall($event)" (change)="onTrackPanelChange($event)"
		></gt-track-panel>
	</md-grid-tile>
</md-grid-list>
