<md-sidenav-layout fullscreen>
	<md-toolbar color="primary">
		<span class="logo">
			<md-icon>multiline_chart</md-icon>
			Graphs and Tracks
			<small>BETA</small>
		</span>

		<filler id="app-menu">
			<a [routerLink]="['challenges']">
				<md-icon>stars</md-icon>
				Challenges
			</a>

			<a [routerLink]="['statistics']">
				<md-icon>insert_chart</md-icon>
				Statistics
			</a>

			<a [routerLink]="['settings']">
				<md-icon>settings_applications</md-icon>
				Settings
			</a>
		</filler>

		<md-icon>help</md-icon>
	</md-toolbar>

	<div id="main-container">
		<router-outlet></router-outlet>
	</div>
</md-sidenav-layout>
