<md-grid-list card-fill rowHeight="fit" cols="4" gutterSize="8px" [class.zoom]="zoom">
	<md-grid-tile colspan="1" rowspan="4">
		<md-card class="info-card" scroll-y>
			<md-card-title [routerLink]="['/challenges']" class="back-button" alt="Return to Challenge List">
				<md-icon>keyboard_arrow_left</md-icon>
				{{ challenge.name }}
			</md-card-title>

			<md-card-content>
				<md-card-subtitle>
					Challenge Info (DEBUG)
					<br><br>
					<div class="setup-info">
						<span>Position {{challenge.goal.position}} </span>
						<span>Velocity {{challenge.goal.velocity}} </span>
						<span>Posts {{challenge.goal.posts | dump}} </span>
					</div>
				</md-card-subtitle>

				<br><br>

				<md-card-subtitle *ngIf="attempts.length">Challenge Attempts</md-card-subtitle>
				<div id="attempt-list">
					<div class="attempt-list-item"
							*ngFor="let attempt of attempts; let i = index"
					>
						<div class="attempt-title">
							Trial #{{i+1}}
						</div>
						<div class="setup-info">
							<span>Position {{attempt.setup.position}} </span>
							<span>Velocity {{attempt.setup.velocity}} </span>
							<span>Posts {{attempt.setup.posts | dump}} </span>
						</div>
					</div>
				</div>
			</md-card-content>
		</md-card>
	</md-grid-tile>

	<md-grid-tile colspan="3" rowspan="2">
		<track-editor [mode]="goalMotion.mode" (roll)="onRollBall($event)"></track-editor>
	</md-grid-tile>

	<md-grid-tile [class.zoom]="zoom" colspan="3" rowspan="2">
		<graphs (zoom)="onGraphZoom()"></graphs>
	</md-grid-tile>
</md-grid-list>
