<md-grid-list fill rowHeight="fit" cols="5" gutterSize="8px">
	<md-grid-tile colspan="2" rowspan="2">
		<md-card fill class="info-card">
			<md-card-title>
				{{ challenge.name }}
				<small>
					created by <b>snolflake</b>
				</small>
			</md-card-title>

			<md-card-content>
				<b>DEBUG INFO</b> <br>
				Initial Position: {{challenge.goal.position}} <br>
				Initial Velocity: {{challenge.goal.velocity}} <br>
				Posts: {{challenge.goal.posts | dump }}
			</md-card-content>

			<md-card-actions>
				<button md-button>
					<md-icon small>keyboard_backspace</md-icon>
					Go Back
				</button>

				<filler></filler>

				<button md-button>
					<md-icon small>edit</md-icon>
					Edit
				</button>

				<button md-button>
					<md-icon small>share</md-icon>
					Share
				</button>
			</md-card-actions>
		</md-card>
	</md-grid-tile>

	<md-grid-tile colspan="3" rowspan="5">
		<graphs fill [goal]="challenge.goal"></graphs>
	</md-grid-tile>

	<md-grid-tile colspan="2" rowspan="3">
	</md-grid-tile>

</md-grid-list>
