<md-grid-list card-fill id="challenge-list-grid" cols="1" gutterSize="8px" rowHeight="fit">
	<md-grid-tile>
		<md-card scroll-y>
			<md-card-title>
				Challenge List
			</md-card-title>
			<md-card-content id="challenge-list">
				<div *ngFor="let challenge of challenges; let i = index" [routerLink]="['/challenges', challenge.id]">
					<b md-line>
						<md-icon>star_border</md-icon>
						{{challenge.name}}
					</b>
					<p md-line class="incomplete">Incomplete (0 attempts)</p>
				</div>
			</md-card-content>
		</md-card>
	</md-grid-tile>
</md-grid-list>


