<md-card>
	<md-card-title>
		Graphs
		<div class="graph-selector">
			<span
					*ngFor="let graphType of graphTypes"
					[class.active]="activeGraph == graphType"
					(click)="selectGraph(graphType)"
			>
				{{graphType}}
			</span>
		</div>
	</md-card-title>
	<md-card-content>
		<div
				*ngFor="let graphType of graphTypes"
				id="{{graphType | lowercase}}-graph"
				[class.hidden]="activeGraph != graphType"
		>
			{{graphType}}
		</div>
		<h3>x</h3>{{x}}<br><br>
		<h3>v</h3>{{v}}<br><br>
		<h3>a</h3>{{a}}<br><br>
	</md-card-content>
</md-card>
