<md-card>
	<md-card-title>
		Graphs
		<div class="graph-selector">
			<span [class.active]="activeGraph == 's'" class="s" (click)="selectGraph('s')">
				Position
			</span>
			<span [class.active]="activeGraph == 'v'" class="v" (click)="selectGraph('v')">
				Velocity
			</span>
			<span [class.active]="activeGraph == 'a'" class="a" (click)="selectGraph('a')">
				Acceleration
			</span>
		</div>

		<top-actions>
			<md-icon (click)="debug()" title="(DEBUG) View generated motion data">find_in_page</md-icon>
			<md-icon (click)="toggleZoom()" title="Toggle zoom graphs panel">{{zoomActive ? 'flip_to_back' : 'flip_to_front'}}</md-icon>

		</top-actions>

	</md-card-title>
	<md-card-content>
		<chart class="{{activeGraph}}"></chart>
	</md-card-content>
</md-card>
