<md-grid-list cols="4" gutterSize="8px" rowHeight="fit">
	<md-grid-tile>
		<md-card>
			<md-card-content>
				challenge selection
			</md-card-content>
		</md-card>
	</md-grid-tile>

	<md-grid-tile colspan="3">
		<md-card>
			<md-card-content>
				graphs
			</md-card-content>
		</md-card>
	</md-grid-tile>

	<md-grid-tile colspan="3">
		<md-card>
			<md-card-content>
				tracks
			</md-card-content>
		</md-card>
	</md-grid-tile>
	<md-grid-tile colspan="1">
		<md-card>
			<md-card-content>
				results
			</md-card-content>
		</md-card>
	</md-grid-tile>
</md-grid-list>
