<md-card [class.no-interaction]="rolling">
	<md-card-content id="track"></md-card-content>
	<md-card-content id="track-controls">
		<div id="position-controls">
			<div class="slider-container">
				<div class="slider">
					<span
							*ngFor="let val of positionScale"
							[class.selected]="setup.position === val"
					>
						{{val}}
					</span>
				</div>
			</div>
		</div>

		<div id="slider-info-container">
			<span id="position-slider-info" class="slider-info">
				<span class="slider-info-label">INITIAL POSITION</span>
				<span class="slider-info-value">{{setup.position}} <small>cm</small></span>
			</span>
			<span id="ball-roller" class="slider-info" (click)="rollBall()">
				ROLL BALL
			</span>
			<span id="velocity-slider-info" class="slider-info">
				<span class="slider-info-value">{{setup.velocity}} <small>cm/s</small></span>
				<span class="slider-info-label">INITIAL VELOCITY</span>
			</span>
		</div>

		<div id="velocity-controls">
			<div class="slider-container">
				<div class="slider">
					<span
							*ngFor="let val of velocityScale"
							[class.selected]="setup.velocity === val"
					>
						{{val + (val < 0 ? '&nbsp;' : '')}}
					</span>
				</div>
			</div>
		</div>

	</md-card-content>
</md-card>
