<md-card class="with-scroller" (touchmove)="stopPropagation($event)">
	<gt-scroller>
		<md-card-title>
			ABOUT THIS PROGRAM
		</md-card-title>

		<md-card-content>
			<b>Graphs and Tracks</b> by <a target="_blank" href="https://github.com/davidtro">David Trowbridge</a> is based upon research and curriculum development by the
			Physics Education Group at the University of Washington, and educational software design at the
			Educational Technology Center at the University of California, Irvine. A software package <b>Graphs and Tracks</b>
			was developed at the Center for Design of Educational Computing at Carnegie Mellon University
			and at the University of Washington. In 1988, <b>Graphs and Tracks</b> was selected as Best Physics and Best
			Integrated Software by EDUCOM/NCRIPTAL and subsequently published by Physics Academic Software
			for more than 20 years.

			<br><br>

			This version of <b>Graphs and Tracks</b>, which corresponds to <b>Part I: from Graphs to Motion</b>
			of the legacy program was implemented by
			<a target="_blank" href="https://github.com/snolflake">Carlos G.</a>
      as a web application using
			<a target="_blank" href="https://d3js.org/">D3.js</a> and
			<a target="_blank" href="https://angular.io/">Angular 2</a>.

      The software is free to use and open source, subject to the
			<a target="_blank" href="https://github.com/snolflake/graphs-and-tracks/blob/master/LICENSE.txt">MIT license</a>
      and available at
			<a target="_blank" href="https://github.com/snolflake/graphs-and-tracks">Github</a>.

			<br> <br>

			<a target="_blank" href="https://www.browserstack.com/" title="Cross Browser Testing Tool. 1000+ Browsers, Mobile, Real IE." style="border-bottom: none !important;">
				<img src="img/browserstack.svg" width="30%">
			</a>
			<br>
      Thanks to <a target="_blank" href="https://www.browserstack.com/" title="Cross Browser Testing Tool. 1000+ Browsers, Mobile, Real IE.">BrowserStack</a> this app is tested and officially supported on Windows PCs and Macintoshes, as well as on tablets and smartphones running Android, iOS and WP.
			<br>
		</md-card-content>

		<br>

		<md-card-subtitle>NOTE TO TEACHERS</md-card-subtitle>

		<md-card-content>
			Students are introduced to the topic of graphs and motion early in their study of physics, but
			educational research shows that most cannot apply the concepts of position, velocity and acceleration
			to real motion. <b>Graphs and Tracks</b> is a goal-oriented program that underscores the connection between
			animated motion and graphs. It makes learning about graphs of motion a playful activity.
			<br><br>
			<b>Graphs and Tracks</b> serves as an ideal complement to hands-on activities using real objects and motion
			detectors.
			<br><br>
			Students can use the built-in Challenge Examples organized from Easy to Hard. They can try 
			specific challenges that you, the teacher
			create. Students can also challenge one another by adding their own examples to the collection. A Show
			Solution feature is available for Standard Challenge Examples, but not for Custom Challenges. Hints are available
			for all examples.
			<br><br>
			See the <a target="_blank" href="https://depts.washington.edu/uwpeg/curricula-0">curricula</a> developed by the Physic Education Group at the University of Washington.
			<br><br>
			See also <a target="_blank" href="http://www.vernier.com/experiments/pwv/1/graph_matching/">Motion Detector</a> 
			and activities developed by <a target="_blank" href="http://www.vernier.com">Vernier Software &amp; Technology</a>.
			<br><br>
			<b>Graphs and Tracks</b> uses a number of simplifying assumptions to help students focus on the most
			important aspects of one-dimensional kinematics without getting lost in some of the complexities of real
			motions. These assumptions and idealizations are described below:
			<br>
			<ol>
				<li>
					To help students make adjustments to their arrangements of sloping tracks, the ramps are
					displayed with an exaggerated vertical dimension. The examples in <b>Graphs and Tracks</b> 
					are treated as
					purely one-dimensional problems. The coordinate x is measured horizontally along the base of
					the ramps. Each segment of track should be thought of as having a fixed length of 100 cm.
				</li>
				<li>
					While the program refers to a “rolling” ball, in fact, acceleration values have been computed for
					<i>sliding</i> point masses, not <i>rolling</i> spheres. Treatment of solid spheres rolling 
					without slipping would reduce all acceleration values by about 29%.
				</li>
				<li>
					While actual balls would bounce at the sharp junctions shown in the simulation, the program
					constrains them to remain on the ramps at all times. You can think of the junctions as being 
					smooth and rounded So that the ball never “collides” with the tracks.
				</li>
				<li>
					The ball moves without friction.
				</li>
				<li>
					The values of <i>t</i> shown on the Time axis do not represent real time.
				</li>
			</ol>
		</md-card-content>
	</gt-scroller>
</md-card>
