@import "~app/styles/theme.scss";

md-card {
  max-width: 500px;
  text-align: center;
  margin: 32px auto;

  md-card-title {
    color: $highlight;
    font-size: 32px;
  }
}


md-list {
  display: inline-block;
  & * {
    color: #333;
  }

  md-list-item {
    margin: 8px 0;
    text-align: left;
    & /deep/ gt-button {
      b {
        font-weight: 600 !important;
      }

      span {
        color: #666;
      }

      gt-icon {
        padding: 8px;
        border-radius: 100%;
        background: $highlight;
        color: white;
      }
    }
  }
}
