<md-card>
	<md-toolbar color="primary">
		<div class="flex-vcenter">
			<span>Sign In</span>
			<span class="flex-fill"></span>
			<gt-icon size="18" (click)="dialogRef.close()">ui-close</gt-icon>
		</div>
	</md-toolbar>
	
	<md-card-content>
		<p>
			You can sign up <b>Graphs & Tracks</b> <br>
			to create and share your own challenges!
		</p>
		<br>
		Sign in now using account from<br>
		<span class="login-button flex-vcenter google">
			<gt-icon>user-google</gt-icon>
			<span>Google</span>
		</span>
		<br> or <br>
		<span class="login-button flex-vcenter facebook">
			<gt-icon>user-facebook</gt-icon>
			<span>Facebook</span>
		</span>
		<br>
	</md-card-content>
</md-card>



