#attempt-list {
  .attempt-list-item {
    padding: 8px 24px !important;
    margin: 0 -24px;
    line-height: 2em;

    &:hover {
      background: #F0F0F0;
    }

    .attempt-title {
      small {
        color: #AAA;
        font-weight: 400;
      }
    }
  }

  /deep/ .attempt-info {
    color: #AAA;
  }
}

.setup-info {
  font-size: 80%;
  span {
    background: #AAA;
    border-radius: 3px;
    color: white;
    padding: 2px 4px;
    margin-right: 15px;
  }
}

