$color-s: steelblue;
$color-v: orangered;
$color-a: forestgreen;

.graph-selector {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  margin-top: -4px;
  font-weight: 600;
  vertical-align: middle;
  white-space: nowrap;

  span {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    margin-right: -4px;

    &.active {
      color: white;
      background: #333;
      &.s { background: $color-s; }
      &.v { background: $color-v; }
      &.a { background: $color-a; }
    }

    &:hover:not(.active) {
      background: #EAEAEA;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

md-card {
  padding-bottom: 8px !important;
}

md-card-title {
  overflow: hidden;
  white-space: nowrap;
}

md-card-content {
  // Substract card title
  height: calc(100% - 28px - 16px);

   // Remove some paddings to increase chart area in the card
  margin-left: -16px !important;
  margin-right: -16px !important;
  margin-bottom: -16px !important;
}

chart {
  width: 100%;
  height: 100%;
  display: block;
}


chart /deep/ .line {
  fill: none;
  stroke-width: 2px;
  stroke: black;
}

chart /deep/ .line.goal {
  stroke-dasharray: 5 10;
  animation: dashing 5s linear infinite;
}

chart /deep/ .line.trial {
  stroke-opacity: .1 !important;
}

chart /deep/ .line.trial.active {
  stroke-opacity: 1 !important;
  transition: stroke-dashoffset 2.5s linear;
}

chart /deep/ .line.s {
  stroke: $color-s;
}

chart /deep/ .line.v {
  stroke: $color-v;
}

chart /deep/ .line.a {
  stroke: $color-a;
}

chart /deep/ .axis {
  shape-rendering: crispEdges;
}

chart:not(.s) /deep/ .axis-x {
  stroke-dasharray: 10 5;
}

@keyframes dashing {
  0%   { stroke-dashoffset: 90; }
  100% { stroke-dashoffset: 0; }
}
