$color-s: orangered;
$color-v: forestgreen;
$color-a: steelblue;

$color-s-light: lighten($color-s, 40);
$color-v-light: lighten($color-v, 40);

$ball-margin:20px;
$radius: 6px;
$info-radius: 10px;
$info-value-width: 80px;
$slider-font-size: 16px;

$track-controls-height: 110px;
$track-height: calc(100% - #{$track-controls-height});
$slider-line-height: $track-controls-height / 3;


md-card {
  padding: 0 !important;
  overflow: hidden;
  background: lightyellow;
}

#track {
  height: $track-height;
  margin-bottom: 0 !important;
}

#track /deep/ .track-line {
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #333;
  fill: none;
}

#track /deep/ .track-ball {
  fill: crimson;
  stroke-width: 4px;
  stroke-dasharray: 4.28px 2px;
  stroke: red;
}

#track-controls {
  height: $track-controls-height;
  overflow: hidden;
  position: relative;

  .slider-container {
    padding: 5px;
    margin: 0 #{$ball-margin - 5};
    .slider {
      font-family: 'Roboto Mono', 'Roboto', 'Helvetica Neue', sans-serif;
      background: #F0F0F0;
      box-shadow: inset 0 0 .3em rgba(0,0,0,.5), inset 0 0 1em rgba(0,0,0,.3);
      border-radius: $radius;
      display: flex;
      line-height: $slider-font-size + 2;

      span {
        text-align: center;
        flex: 1 0 0;
        padding: 5px 0;
        font-size: $slider-font-size - 4;

        &.selected {
          font-size: $slider-font-size;
          font-weight: bolder;
          position: relative;
        }

        &.selected:before, &.selected:after {
          content: ' ';
          width: 0;
          height: 0;
          display: block;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        &.selected:before {
          border-top: 6px solid;
          top:0;
        }

        &.selected:after {
          border-bottom: 6px solid;
          bottom:0;
        }
      }
    }
  }

  #position-controls {
    .slider-container {
      border-radius: $radius $radius 0 0;
      background: $color-s;
      .slider {
        span.selected {
          color:$color-s;
        }
        span.selected:after {
          border-bottom-color:$color-s;
        }
        span.selected:before {
          border-top-color:$color-s;
        }
      }
    }
  }

  #velocity-controls {
    .slider-container {
      border-radius: 0 0 $radius $radius;
      background: $color-v;
      .slider {
        span.selected {
          color:$color-v;
        }
        span.selected:after {
          border-bottom-color:$color-v;
        }
        span.selected:before {
          border-top-color:$color-v;
        }
      }
    }
  }


  $h: 20px;
  $r: $h / 2;
  $mpad: 2px;
  $bpad: 15px;
  #slider-info-container {
    background: linear-gradient(to right, $color-s, $color-s 49.9%, $color-v 50%, $color-v);
    margin: 0 #{$ball-margin - 5};
    height: $h;
    display: flex;
    white-space: nowrap;

    .slider-info {
      flex:2 0 0;
      height: $h;
      line-height: $h - 1;
      font-weight: bold;

      .slider-info-value {
        display: inline-block;
        min-width: 80px;
        box-sizing: border-box;
        position: relative;
        text-align: center;

        &:before, &:after {
          content: ' ';
          display: inline-block;
          position: absolute;
          width: 0;
          height: 0;
        }
      }

      .slider-info-label {
        color: white;
        text-shadow: 0 0 .1em black;
      }
    }

    #ball-roller {
      background: crimson;
      flex:1 0 0;
      padding: 0 $h;
      text-align: center;
      color: white;
      text-shadow: 0 0 .1em black;
      cursor: pointer;
      &:hover {
        background: red;
      }
    }

    #position-slider-info {
      text-align: right;
      .slider-info-value {
        background: $color-s-light;
        color: $color-s;
        padding: 0 $mpad 0 $h;

        &:after {
          border-top: $h solid $color-s-light;
          border-right: $h solid transparent;
          margin-left: $mpad;
          right: $h * -1;
        }

        &:before {
          border-top: $h solid $color-s;
          border-right: $h solid transparent;
          left: 0;
        }
      }
    }

    #velocity-slider-info {
      .slider-info-value {
        background: $color-v-light;
        color: $color-v;
        padding: 0 $h 0 $mpad;

        &:before {
          border-bottom: $h solid $color-v-light;
          border-left: $h solid transparent;
          left: $h * -1;
        }

        &:after {
          border-bottom: $h solid $color-v;
          border-left: $h solid transparent;
          right: 0;
        }
      }
    }
  }
}
