@import '~app/app.theme.scss';

$color-s: lighten(orangered, 10);
$color-v: lighten(forestgreen, 10);
$color-a: lighten(steelblue, 10);

$ball-margin: 20px;

#graph-header {
  & > span {
    &.graph-selector {
      &:hover {
        background: #E0E0E0;
      }

      &:not(.active) {
        margin: 0 8px !important;
      }
    }

    &.active, &.pulsing {
      color: white;
      text-shadow: 0 0 .1em gray;
    }

    &.s { color: $color-s; }
    &.v { color: $color-v; }
    &.a { color: $color-a; }

    &.s.active, &.s.pulsing { background: $color-s; color: white; }
    &.v.active, &.v.pulsing { background: $color-v; color: white; }
    &.a.active, &.a.pulsing { background: $color-a; color: white; }
  }
}


#chart-container {
  width: calc(100% - #{$ball-margin * 2});
}

#chart {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: $ball-margin;
  margin-right: $ball-margin;

  //noinspection CssInvalidPropertyValue
  pointer-events: bounding-box;

  &:not(.s) /deep/ .axis-x {
    stroke-dasharray: 5 10;
    path { opacity: .6; }

    .tick {
      line { opacity: .6; }
      text { opacity: .8; }
    }
  }

  &.s /deep/ .line { stroke: $color-s; }
  &.v /deep/ .line { stroke: $color-v; }
  &.a /deep/ .line { stroke: $color-a; }

  & /deep/ {
    .line {
      fill: none;
      stroke-width: 2px;
      stroke: black;
    }

    .line.goal {
      stroke-dasharray: 10 20;

      @if $effects-enabled {
        animation: dashing 1s linear infinite;
      }
    }

    .line.trial {
      stroke-opacity: .2 !important;
    }

    .line.trial:last-of-type {
      stroke-opacity: 1 !important;
    }

    .axis {
      shape-rendering: crispEdges;
    }
  }
}

@keyframes dashing {
  0%   { stroke-dashoffset: 30; }
  100% { stroke-dashoffset: 0; }
}
