<md-toolbar color="primary">
	<a [routerLink]="['']" class="logo">
		<md-icon>multiline_chart</md-icon>
		Graphs and Tracks
	</a>

	<a [routerLink]="['challenges']">
		<md-icon>star</md-icon>
		<span class="hidden-mobile">
			Challenges
		</span>
	</a>

	<a [routerLink]="['playground']" class="todo">
		<md-icon>public</md-icon>
		<span class="hidden-mobile">
			Community
		</span>
	</a>

	<a [routerLink]="['settings']" class="todo">
		<md-icon>settings</md-icon>
		<span class="hidden-mobile">
			Settings
		</span>
	</a>

	<div class="filler"></div>

	<a id="menu-user-status"> <!--md-icon-button [md-menu-trigger-for]="menu"-->
		<img [src]="auth.user.avatarUrl">
		<span class="hidden-small">
			{{ auth.user.username }}
		</span>
		<md-icon>arrow_drop_down</md-icon>
	</a>
	<!--md-menu id="user-menu" #menu="mdMenu" x-position="after">
		<button md-menu-item> Refresh </button>
		<button md-menu-item> Settings </button>
		<button md-menu-item> Help </button>
		<button md-menu-item disabled> Sign Out </button>
	</md-menu-->
</md-toolbar>

<div id="main-container">
	<router-outlet></router-outlet>
</div>
