@import "styles/responsive";

$toolbar-height: 64px;
$toolbar-height-alt: 48px;

md-sidenav-layout {
  height: 100%;
  width: 100%;
}

@media #{$small-height} {
  md-toolbar {
    min-height: $toolbar-height-alt !important;
    md-toolbar-row {
      height: $toolbar-height-alt !important;
    }
  }
}

#main-container {
  position: absolute;
  top: $toolbar-height;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;
  background-color: red;

  @media #{$small-height} {
    top: $toolbar-height-alt;
  }
}
