$color-s: lighten(orangered, 10);
$color-v: lighten(forestgreen, 10);
$color-a: lighten(steelblue, 10);

md-card-content {
  position: relative;
}

#info-card {
  .card-header md-icon {
    vertical-align: top !important;
  }

  md-card-content {
    padding: 16px !important;

    h3 {
      color: #009688 !important;
    }

    color: #333;
    font-size: 16px;

    b {
      white-space: nowrap;
    }
    b.s { color: $color-s; }
    b.v { color: $color-v; }
    b.a { color: $color-a; }
    b.b { color: crimson; }
  }
}

.card-header {
  & > span {
    &:first-child {
      padding-right: 16px;
    }

    &:last-child {
      padding-left: 16px;
    }

    flex: 0 0 auto;
    background: #009688 !important;
    color: white !important;

    &, md-icon {
      cursor: pointer !important;
    }

    md-icon {
      width: auto;
      vertical-align: text-bottom;
    }

    &.filler {
      visibility: hidden;
    }
  }
}

#challenge-title {
  font-weight: 600;
  font-size: 18px;
}

.card-header-actions {
  span {
    padding: 0 5px;
  }

  md-icon {
    vertical-align: middle;
    width: auto;
    margin-bottom: -3px;
  }
}

.setup-info {
  font-size: 80%;

  span {
    background: #AAA;
    border-radius: 3px;
    color: white;
    padding: 2px 4px;
    margin-right: 15px;
  }
}
