$color-s: lighten(orangered, 10);
$color-v: lighten(forestgreen, 10);
$color-a: lighten(steelblue, 10);

$ball-margin: 20px;
$header-height: 32px;

md-card {
  padding: 0 !important;
  overflow: hidden;
}

#graph-header {
  background: silver;
  height: $header-height;
  display: flex;
  white-space: nowrap;
  padding: 0 $ball-margin;

  span {
    line-height: $header-height;
  }

  .graph-header-title {
    padding-right: $header-height;
    color: #333;
    font-weight: bold;
  }

  .graph-selector:before, .graph-actions:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: $header-height solid #999;
    border-left: $header-height solid transparent;
    left: $header-height * -1;
  }

  .graph-selector {
    flex: 1 0 0;
    cursor: pointer;
    position: relative;
    padding: 0 $header-height 0 0;
    color: #CCC;
    background: #999;
    text-align: center;

    &.active {
      color: white;
      text-shadow: 0 0 .1em gray;
      font-weight: bold;
    }

    &.s.active {
      background: $color-s;
      &:before {
        border-bottom-color: $color-s;
      }
    }

    &.v.active {
      background: $color-v;
      &:before {
        border-bottom-color: $color-v;
      }
    }

    &.a.active {
      background: $color-a;
      &:before {
        border-bottom-color: $color-a;
      }
    }

  }

  .graph-actions {
    position: relative;
    &:before {
      border-bottom-color: silver;
    }

    md-icon {
      font-size: 18px;
      vertical-align: sub;
      padding: 0 5px;
      cursor: pointer;
    }
  }
}

chart {
  width: calc(100% - #{$ball-margin * 2});
  height: calc(100% - #{$header-height});
  display: block;
  box-sizing: border-box;
  margin: 0 $ball-margin;
}

chart /deep/ svg {
  pointer-events: bounding-box;
}


chart /deep/ .line {
  fill: none;
  stroke-width: 2px;
  stroke: black;
}

chart /deep/ .line.goal {
  stroke-dasharray: 5 10;
  animation: dashing 5s linear infinite;
}

chart /deep/ .line.trial {
  stroke-opacity: .1 !important;
}

chart /deep/ .line.trial.active {
  stroke-opacity: 1 !important;
  transition: stroke-dashoffset 10s linear;
}

chart /deep/ .line.s {
  stroke: $color-s;
}

chart /deep/ .line.v {
  stroke: $color-v;
}

chart /deep/ .line.a {
  stroke: $color-a;
}

chart /deep/ .axis {
  shape-rendering: crispEdges;
}

chart:not(.s) /deep/ .axis-x {
  stroke-dasharray: 10 5;
}

@keyframes dashing {
  0%   { stroke-dashoffset: 90; }
  100% { stroke-dashoffset: 0; }
}
