$color-s: lighten(orangered, 10);
$color-v: lighten(forestgreen, 10);
$color-a: lighten(steelblue, 10);

$ball-margin: 20px;
$header-height: 32px;
$header-padding: 10px;

md-card {
  padding: 0 !important;
  overflow: hidden;
}

#graph-header {
  height: $header-height;
  display: flex;
  white-space: nowrap;
  margin: 10px 0;

  & > span {
    line-height: $header-height;
    flex: 1 0 0px;
    cursor: pointer;
    position: relative;
    color: #666;
    text-align: center;
    background: #F0F0F0;

    &.graph-selector {
      padding: 0 5px;
      font-weight: bold;
      will-change: margin;
      transition: margin 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275),
      line-height 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275),
      color 300ms linear,
      background 300ms linear;

      &:hover {
        background: #E0E0E0;
      }
    }

    &.active {
      color: white;
      text-shadow: 0 0 .1em gray;
      margin: -4px 10px;
      flex-shrink: 1;
      line-height: 40px;
    }

    &.s.active { background: $color-s; }
    &.v.active { background: $color-v; }
    &.a.active { background: $color-a; }

    &:first-child, &:last-child {
      flex: 0 1 $header-height;
    }
  }
}

#graph-legend {
  b {
    color: #666;
    font-weight: 400;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    width: 100px;
    display: inline-block;
    height: 80%;
    margin: 0 20px;

    &.goal { border-bottom-style: dashed; }
    &.s { border-bottom-color: $color-s; }
    &.v { border-bottom-color: $color-v; }
    &.a { border-bottom-color: $color-a; }
  }
}

#chart {
  width: calc(100% - #{$ball-margin * 2});
  height: calc(100% - #{$header-height + ($header-padding * 2)});
  display: block;
  box-sizing: border-box;
  margin: 0 $ball-margin;
  pointer-events: bounding-box;

  &:not(.s) /deep/ .axis-x {
    stroke-dasharray: 10 5;
  }

  &.s /deep/ .line { stroke: $color-s; }
  &.v /deep/ .line { stroke: $color-v; }
  &.a /deep/ .line { stroke: $color-a; }

  & /deep/ {
    .line {
      fill: none;
      stroke-width: 2px;
      stroke: black;
    }

    .line.goal {
      stroke-dasharray: 5 10;
      animation: dashing 1s linear infinite;
    }

    .line.trial {
      stroke-opacity: .2 !important;
    }

    .line.trial:last-of-type {
      stroke-opacity: 1 !important;
    }

    .axis {
      shape-rendering: crispEdges;
    }
  }
}

@keyframes dashing {
  0%   { stroke-dashoffset: 15; }
  100% { stroke-dashoffset: 0; }
}
