@import '~assets/styles/variables';

body, html {
  min-width:320px;
  min-height:320px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

%menu-font {
  font-size: 18px;
  line-height: 18px;
}

@media #{$small-width} {
  md-sidenav > div {
    height: $toolbar-height-alt !important;
  }

  md-toolbar {
    min-height: $toolbar-height-alt !important;
    md-toolbar-row {
      height: $toolbar-height-alt !important;
    }
  }

  #main-container {
    top: $toolbar-height-alt;
  }
}

md-sidenav-layout {
  height: 100%;
  width: 100%;

  md-sidenav > div {
    min-width: 200px;
    height: $toolbar-height !important;

    gt-button {
      display: block;
    }
  }
}

md-toolbar {
  min-height: $toolbar-height !important;
  md-toolbar-row {
    height: $toolbar-height !important;
  }
}

md-toolbar-row > * {
  height: 100%;
}

#app-logo {
  position: relative;

  gt-icon {
    margin-right: 8px;
  }

  &, & > * {
    cursor: pointer;
  }
}

#app-nav-links {
  display: inline-flex;
  margin-left: 32px;

  gt-button:not(:first-child) {
    margin-left: 16px;
  }
}

#main-container {
  position: absolute;
  top: $toolbar-height;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;
}

md-toolbar-row, .app-menu-links gt-button {
  @extend %menu-font;
}

.app-menu-links gt-button {
  height: 100%;

  &.active {
    transition: background 400ms ease-in;
    background: $highlight;
    color: $contrast;
  }
}

.sidenav-link:not(.active) {
  color: $highlight;
}

