/*
Component styles added at global level due to this issue
https://github.com/angular/material2/issues/922
*/
$gray: #EAEAEA;
$gray-text: #999;

#challenge-list-grid {
  md-list-item:hover > div {
    background: $gray;
    cursor: pointer;
  }
}

md-card-title small {
  color:#666;
  font-size: 50%;
}

md-card-actions {
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex !important;

  [md-button] {
    &[gray] {
      color: $gray-text !important;
    }

    md-icon {
      vertical-align: middle;
      line-height: 1.3em;
    }
  }
}

md-grid-tile {
  overflow: visible !important;
}

md-grid-list[card-no-pad] {
  md-grid-tile md-card {
    padding: 0 !important;
    overflow:hidden;
  }
}

md-grid-list[card-fill] {
  height: 100%;

  md-grid-tile > * > *, md-grid-tile > * > * md-card, md-grid-tile > * > * md-card > div {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    .content-wrapper {
      position: relative;
      overflow: hidden;
      height: 100%;
    }
  }
}

md-card .top-actions {
  float: right;
  md-icon {
    padding: 0;
    cursor: pointer;
    font-size: 18px !important;
  }
}

md-toolbar {
  min-height: unset !important;
}

md-toolbar, md-toolbar-row {
  min-height: unset !important;
  height: 32px !important;
  line-height: 32px !important;
  font-size: 18px !important;
}

md-dialog-container {
  padding: 0 !important;
  background: transparent !important;

  md-card-actions {
    & > * {
      text-transform: uppercase !important;
      flex: 1 1 auto !important;
      &, & * {
        cursor: pointer !important;
      }
    }

    md-icon:not(.with-icon) {
      vertical-align: text-bottom !important;
    }
  }
}

.md-radio-container {
  display: none !important;
}

md-radio-button:not(.md-radio-checked) * {
  color: silver !important;
}

gt-app {
  height: 100%;
  display: block;
}

html, body, gt-app, #main-container:not(.scrollabe) {
  overflow: hidden !important;
}
