html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #F0F0F0;
  -webkit-user-select: none;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

* {
  cursor: default;
}

/* TODO: Store global values in variables (separate file?) */

body, md-sidenav-layout {
  min-width:640px;
  min-height:480px;
}

#main-container {
  padding: 16px;
  height: calc(100% - 40px);
  box-sizing: border-box;
}
