html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #F0F0F0;
  -webkit-user-select: none;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

* {
  cursor: default;
}

#main-container {
  padding: 8px;
  height: calc(100% - 32px);
  box-sizing: border-box;
}
