@media screen and (max-width: 960px) {
  .hidden-small {
    display: none !important;
  }

  md-toolbar {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 720px) {
  .hidden-mobile {
    display: none !important;
  }
}
