@import '~app/app.theme.scss';

[flex] {
  display: flex !important;
}

.filler {
  flex: 1 1 auto !important;
}

[fill] {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

[fill-x] {
  width: 100%;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  display: none !important;
}

[scroll-y] {
  overflow-y: auto !important;
}

.wait, .wait * {
  cursor: wait !important;
}

.no-interaction, .no-interaction * {
  pointer-events: none !important;
}

.todo {
  pointer-events: none !important;
  opacity: .5;
}

.card-button {
  font-size: 16px;
  line-height: 16px;
  padding: 6px 5px 0 5px;
  border-radius: 3px;
  color: #999;
  cursor: pointer;

  md-icon {
    cursor: pointer;
    vertical-align: sub;
    width: auto;
  }

  &:hover {
    color: #333;
    background: #F0F0F0;
  }
}

@keyframes pulse {
  from { opacity: 1; }
  40% { opacity: .6; }
  60% { opacity: .6; }
  to { opacity: 1; }
}

@keyframes pulse-alt {
  from { background: crimson; }
  40% { background: rgb(115, 10, 8); }
  60% { background: rgb(115, 10, 8); }
  to { background: crimson; }
}

@keyframes bump {
  from { transform: scale(.4); }
  to { transform: scale(1); }
}

@keyframes bumpy {
  from { transform: scale(.8); }
  to { transform: scale(1); }
}

.one-bump {
  animation: bump 300ms cubic-bezier(0.175, 0.885, 0.5, 1.5);
}

.one-bumpy {
  animation: bumpy 400ms cubic-bezier(0.175, 0.885, 0.5, 1.5);
}

.pulsing {
  @if $effects-enabled {
    animation: pulse 600ms linear infinite;
  } @else {
    animation: pulse 1s steps(2) infinite;
  }
}

.pulsing-alt {
  @if $effects-enabled {
    animation: pulse-alt 600ms linear infinite;
  } @else {
    animation: pulse-alt 1s steps(2) infinite;
  }
}

$header-height: 24px;
$header-padding: 4px;
$header-actions-height: 30px;
$header-bg: #EAEAEA;
$header-full-height: $header-height + ($header-padding * 2);

.card-content-with-header {
  margin-top: $header-full-height;
  height: calc(100% - #{$header-full-height});
}

.card-content-with-header-and-actions {
  margin-top: $header-full-height + 6px;
  height: calc(100% - #{$header-full-height + $header-actions-height} - 6px);
  margin-bottom: 0 !important;

  &.card-fill {
    margin-top: 0;
    height: 100%;
  }
}

.card-header {
  margin: 8px 0;
  height: $header-height;
  display: flex;
  white-space: nowrap;
  width: 100%;
  position: absolute;

  & > span {
    background: $header-bg;
    line-height: $header-height;
    flex: 1 0 0px;
    position: relative;
    color: #009688;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    padding: 0 5px;
    will-change: margin;

    @if $effects-enabled {
      transition: margin 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275),
      line-height 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275),
      color 300ms linear,
      background 300ms linear;
    }

    &, md-icon {
      cursor: pointer;
    }

    &:first-child, &:last-child {
      flex: 0 1 $header-height;
      padding: 0;
      cursor: pointer;
      md-icon {
        width: $header-height;
        line-height: $header-height;
      }

      &, md-icon {
        cursor: default;
      }
    }



    &.active {
      margin: -4px 10px;
      flex-shrink: 1;
      line-height: $header-height + ($header-padding * 2);
    }
  }
}

.card-header-actions {
  background: $header-bg;
  height: $header-actions-height;
  width: auto;
  bottom: 0;
  display: flex;
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;

  &.card-header-actions-right {
    right: 0;
    border-radius: 4px 0 0 4px;
  }

  &.card-header-actions-left {
    left: 0;
    border-radius: 0 4px 4px 0;
  }

  &.card-header-actions-full {
    width: 100%;
    padding: 0;
    box-sizing: border-box;

    & > span {
      flex: 1 1 auto !important;
      text-align: center;
    }
  }

  & > span {
    flex: 0 1 auto;
    text-overflow: ellipsis;
    color: #666;
    display: inline-block;
    line-height: $header-actions-height;
    vertical-align: text-bottom;
    overflow: hidden;

    &.action, &.action * {
      cursor: pointer !important;
    }

    &.action {
      height: 100%;
      color: #999;
      padding: 0 8px;

      &:hover {
        background: darken($header-bg, 10);
      }

      md-icon {
        vertical-align: middle;
        margin-bottom: 3px;
        width: auto;
      }

      md-icon[small] {
        margin-bottom: -4px;
      }
    }
  }
}

.fullscreen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto !important;
  height: auto !important;
}


.nowrap {
  white-space: nowrap;
}

md-card.with-scroller {
  overflow: hidden;
  padding: 0 !important;
}


.flex-vcenter {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.selectable {
  user-select: all !important;
}

.working {
  pointer-events: none !important;
  opacity: .95;
  filter: grayscale(100%);
}