/*
Component styles added at global level due to this issue
https://github.com/angular/material2/issues/922
*/
$gray: #EAEAEA;
$gray-text: #999;

#challenge-list-grid {
  md-list-item:hover > div {
    background: $gray;
    cursor: pointer;
  }
}

md-card-title small {
  color:#666;
  font-size: 50%;
}

md-card-actions {
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex !important;

  [md-button] {
    padding: 0 16px 0 8px;
    min-width: unset;

    &[gray] {
      color: $gray-text !important;
    }

    md-icon {
      vertical-align: middle;
      line-height: 1.3em;
    }
  }
}


md-grid-list[card-fill] {
  height: 100%;

  md-grid-tile > * > *, md-grid-tile > * > * md-card {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

md-grid-list.zoom {
  md-grid-tile:not(.zoom) md-card {
    display: none !important;
  }

  md-grid-tile.zoom md-card {
    position: fixed;
    z-index: 9999;
    top: calc(64px + 10px);
    left: 16px;
    right: 16px;
    width: auto;
    bottom: 10px;
    height: auto;
  }
}

md-card top-actions {
  float: right;
  md-icon {
    padding: 0;
    cursor: pointer;
    font-size: 18px !important;
  }
}
