[flex] {
  display: flex !important;
}

filler {
  flex: 1 1 auto;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

[scroll-y] {
  overflow-y: auto !important;
}
