<md-grid-list card-fill id="challenge-list-grid" cols="5" gutterSize="8px" rowHeight="fit">
	<md-grid-tile colspan="5">
		<md-card class="with-scroller">
			<gt-scroller>
				<md-card-content>
					<div class="list-actions">
						<div class="list-action" [routerLink]="'/challenges/tutorial'">
							<md-icon>school</md-icon>
							<br>
							<span>FOLLOW THE TUTORIAL</span>
						</div>
						<div class="list-action" [routerLink]="'/challenges/editor'">
							<md-icon>format_paint</md-icon>
							<br>
							<span>CREATE YOUR OWN CHALLENGE</span>
						</div>
						<div class="list-action"  [routerLink]="'/challenges/practice'">
							<md-icon>gps_fixed</md-icon>
							<br>
							<span>PRACTICE MODE</span>
						</div>
					</div>
					<div class="list-container">
						<gt-challenge-list-item *ngFor="let challengeSample of localChallenges" [challenge]="challengeSample"></gt-challenge-list-item>
						<!-- Flex not so flex -->
						<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
						<!--
						<div id="no-custom-challenges">
							<md-icon>important_devices</md-icon>
							<span class="nowrap">
								No custom challenges have been downloaded to this devices yet. <br>
								Get some by browsing the community list or create your own.
							</span>
						</div>
						-->
					</div>
				</md-card-content>
			</gt-scroller>
		</md-card>
	</md-grid-tile>
</md-grid-list>
