$list-highlight: #F0F0F0;

md-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
md-grid-list {
  height: 100%;

  md-card {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

.list-action {
  padding: 16px;
  box-sizing: border-box;
  background: #F0F0F0;

  border-radius: 16px;
  text-align: center;

  &, & > * {
    cursor: pointer;
  }

  color: #999;
  border: 3px dashed #CCC;
  &:hover {
    border-color: #AAA;
    color: #666;
  }

  md-icon {
    display: block;
    font-size: 48px;
    width: auto;
    height: auto;
  }

  span {
    font-weight: bold;
  }
}


.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -8px;

  gt-challenge-list-item {
    flex: 1 1 auto;
  }
}
