$list-highlight: #F0F0F0;

md-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

md-card-content {
  padding: 16px;
}

md-grid-list {
  height: 100%;

  md-card {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

.list-actions {
  display: flex;
  margin: 0 -16px;

  .list-action {
    flex: 1 1 33%;
    padding: 16px;
    margin: 0 16px;
    box-sizing: border-box;
    background: #F0F0F0;

    border-radius: 16px;
    text-align: center;

    &, & /deep/ * {
      cursor: pointer;
    }

    color: #999;
    border: 3px dashed #CCC;
    &:hover {
      border-color: #AAA;
      color: #666;
    }

    md-icon {
      display: block;
      font-size: 48px;
      width: auto;
      height: auto;
    }

    span {
      font-weight: bold;
    }
  }
}

.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -8px;

  & > * {
    flex: 1 0 auto;
    min-width: 232px;
  }

  & > div {
    height: 0;
  }
}

#no-custom-challenges {
  color: #BBB;
  margin: 32px auto;
  padding: 32px 0;
  text-align: left;
  display: inline-block;
  width: auto;
  flex-grow: 0;
  flex-basis: auto;

  span {
    display: inline-block;
  }

  md-icon {
    display: inline-block;
    font-size: 36px !important;
    float: left;
    width: auto;
    height: auto;
    margin-right: 16px;
    margin-top: -2px;
  }
}
