$breakpoint-height: 768px;
$breakpoint-width: 900px;

$toolbar-height: 48px;

$color-s: orangered;
$color-s-light: lighten(orangered, 10);
$color-s-dark: darken(orangered, 30);
$color-v: forestgreen;
$color-v-light: lighten(forestgreen, 10);
$color-v-dark: darken(forestgreen, 30);
$color-a: steelblue;
$color-a-light: lighten(steelblue, 10);
$color-a-dark: darken(steelblue, 30);
