div {
  text-align: center;
  padding-top: 20px;
}

md-card {
  width: auto;
  display: inline-block;
}

h1 {
  font-size: 200%;
  color: teal;
}

p {
  font-size: 14px;
  color:#999;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: darken(teal, 10);
  cursor: pointer;
}

md-list {
  text-align: left;

  & /deep/ {
    md-list-item /deep/ *{
      cursor: pointer;
    }
  }
}
