<div>
	<md-card>
		<md-card-title>
			Graphs and Tracks
		</md-card-title>
		<md-card-content>
		<b>by</b> <a target="_blank" href="mailto:david.daiku.trowbridge@gmail.com">David Trowbridge</a>
			<p>
				Learn about graphs of position, velocity and acceleration.
				<br>
				Test your understanding of motion<br>
				by rolling a ball along challenging track arrangements.
			</p>
			<br>

			<md-list>
				<md-list-item [routerLink]="['challenges']">
					<md-icon md-list-avatar>star</md-icon>
					<h3 md-line>Challenge List</h3>
					<p md-line>
						Browse all available challenges
					</p>
				</md-list-item>
				<md-list-item [routerLink]="tutorialChallengeLink" [fragment]="'tutorial'">
					<md-icon md-list-avatar>school</md-icon>
					<h3 md-line> First time here? </h3>
					<p md-line>
						Visit the tutorial and learn how to use this app
					</p>
				</md-list-item>
			</md-list>
		</md-card-content>
	</md-card>
</div>
