div {
  text-align: center;
  padding-top: 20px;
}

md-card {
  width: 440px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/deep/ body.mobile gt-home md-card {
  width: unset !important;
  padding: 8px !important;

  md-card-content > br {
    display: none;
  }

  .md-list-item {
    height: 44px !important;
  }

  p {
    margin: 0 !important;
    font-size: 12px !important;
  }
}

md-card-title {
  margin-bottom: 4px;
  font-size: 28px !important;
  color: #009688;
  md-icon {
    font-size: 32px;
    margin-right: 8px;
    width: auto;
    height: auto;
  }
}

.primary {
  color: #009688;
}

p {
  font-size: 14px;
  color:#666;
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

md-list {
  text-align: left;
  min-width: 60%;
  display: inline-block;

  md-list-item {
    display: block;
    border-radius: 8px;
    transition: background 300ms ease-in;
    cursor: pointer;

    & /deep/ * {
      cursor: pointer;
    }

    &:hover {
      background: #F0F0F0;
    }
  }

  h3 {
    font-weight: 500;
    color: #009688;
  }

  md-icon {
    background: #009688 !important;
    color: white;
    font-size: 24px;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}
