<div id="item-container" (click)="onChallengeSelect()" [routerLink]="['/challenges', challenge.id]"
     [class.complete]="challenge.complete">
	<div class="challenge-name nowrap">
		<div class="stats">
			<b>
				{{ challenge.name }}
			</b>
			<br>
			<span *ngIf="!isCustom()">
				Standard Challenge
			</span>
			<span *ngIf="isCustom()">
				Custom Challenge
			</span>
		</div>
	</div>
	
	<div id="difficulty">
		<gt-challenge-difficulty [level]="challenge.difficulty" [full]="true"></gt-challenge-difficulty>
	</div>
</div>
