#item-container {
  position: relative;
  padding: 16px;
  margin: 8px;
  border-radius: 3px;
  background: #F0F0F0;
  white-space: nowrap !important;
  display: flex;

  &, & /deep/ * {
    cursor: pointer !important;
  }

  &:hover {
    background: #CACACA;
  }
}

.challenge-name {
  display: inline-block;
  white-space: nowrap;
  padding-right: 8px;

  b {
    color: #666;
    line-height: 24px;
    display: inline-block;
    md-icon {
      vertical-align: middle;
      margin-top: -5px;
    }
  }

  md-icon {
    width: auto;
    vertical-align: sub !important;
  }

  color:#999;

  &.incomplete b {
    color:crimson;
  }

  &.complete b {
    color:darkgreen;
  }
}


#stats, #difficulty {
  flex: 1 1 auto;
}

#difficulty {
  text-align: right;
}
