<div id="item-container" [routerLink]="['/challenges', challenge.id]">
	<div class="challenge-name nowrap"
	     [class.complete]="challenge.complete"
	     [class.incomplete]="!(challenge.complete)"
	>
		<b>
			<template [ngIf]="challenge.complete">
				<md-icon small>check</md-icon>
				{{ challenge.name }}
			</template>
			<template [ngIf]="!challenge.complete">
				<md-icon small>not_interested</md-icon>
				{{ challenge.name }}
			</template>
		</b>
		
		<br>
		
		<span *ngIf="!(challenge.attempts) || !(challenge.attempts.length)">
			No attempts made yet
		</span>
		
		<span *ngIf="challenge.attempts && challenge.attempts.length">
			{{ challenge.attempts?.length }} attempts so far
		</span>
	</div>
	
	<gt-challenge-difficulty [level]="challenge.difficulty" [full]="true"></gt-challenge-difficulty>
</div>
